.archive{
      margin-left: 200px;
      margin-top: 20px;
    }
    .tableau{
      margin-left: 200px;
    }
    .pagi{
       margin-left: 200px;
    }
    .bloquer{
      margin-left: 200px;
      margin-top: 20px;
    }
    .info{
      margin-left: 250px;
    }
    .utili{
       margin-left: 300px;
    }
    .pagina{
      margin-left: 300px;
    }
     .list-group-item.active {
    background-color: #000 !important; 
    border-color: #000 !important;     
    color: #fff !important;            
  }
  .tableau1{
    margin-left: 350px;
  }
    .table-header {
      background-color: #00c853;
      color: white;
    }
    .table-container {
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    }
    .pagination .page-item.active .page-link {
      background-color: #00c853;
      border-color: #00c853;
       }