 
    body {
       min-height: 140vh !important;
  margin: 0;
      overflow-x: hidden;
      font-family: Arial, sans-serif;
      background-color: #f1f2f3 !important;
    }
    *{box-sizing:border-box}
 


    /* Sidebar */
    .sidebar {
      width: 250px !important;
  min-height: 100vh !important;
   position: fixed !important;
      background: #0c355e;
      color: white;
      /* flex-shrink: 0; */
      transition: transform 0.3s ease-in-out;
    }
    .sidebar a {
      display: block;
      padding: 12px 20px;
      text-decoration: none;
      color: white;
    }
     #main-content {
      flex-grow: 1 !important;
      padding: 20px !important;
      margin-left: 300px;
      margin-top:60px ;
    }
    .table{
      background-color: #00c853 !important;
      color: white;
    }
   

    /* Sidebar masquée en mobile */
    @media (max-width: 768px) {
      .sidebar {
        position: fixed !important;
        top: 0; left: 0;
       min-height: 100vh;
        transform: translateX(-100%);
        z-index: 1050;
      }
      .sidebar.show {
        transform: translateX(0);
      }
        #main-content {
      padding: 20px !important;
      margin-left: 0px;
      margin-top:100px ;
    }
     .navbar-light{
      left: 200px;
         width: calc(100% - 240px);
     }
    }

    .sidebar a:hover{
      background-color:  #20DF7F !important;
      border-radius: 5px !important;
      color: white !important;
    
    } 
    .accordion-header:hover{
      background-color:  #20DF7F !important;
    
    }
 .list-unstyled li a{
  font-size: 18px !important;
 }
    /* Navbar */
    .navbar-light {
      background-color: white;
      box-shadow: 0 3px 5px rgba(0,0,0,0.1);
      position: fixed !important;
      width: calc(100% - 220px);
      left: 250px;
      top: 0;
      z-index: 1000;
    }

   .courbe{
    background-color: #20DF7F!important;
   }
    .carte{
      width: 350px;
      height: 180px;
    }
#doughnutChart{
  width: 250px !important;
  height: 250px !important;
 
}
    .profile-pic {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    .accordion-button::after {
  filter: invert(1); /* icône flèche blanche */
}

.accordion-button:not(.collapsed) {
  background-color: #0d6efd; 
  color: white;
}

.accordion-body a:hover
 {
  background-color:  #20DF7F; /* vert comme ton screenshot */
  border-radius: 4px;
}

.titre1{
background-color: #20DF7F; 
}
.icon-dolar{
    color:  #20DF7F;
}
/* .card{
  width: 264px;
  height: 118px;
} */
.card1{
    max-width: 350px;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      padding: 15px;
      background: #fff;
}
.carte-caisse {
      max-width: 450px;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      padding: 15px;
      background: #fff;
      display: flex;
      align-items: center;
      gap: 15px;
    }
    .icone-caisse {
      background: #e8fdf1;
      width: 80px;
      height: 100px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      color:  #20DF7F;
    }
    .progress {
      height: 8px;
      border-radius: 6px;
    }
    .progress-bar {
      background-color:  #20DF7F !important;
    }
    .table1{
      background-color:  #20DF7F ;
    }
     .table-rempl { 
      margin-top: -50px !important; }
     
    .pagination{
      margin-top: 15px;
    } 
    