 

  body {
      font-family: 'Poppins', sans-serif; /* police par défaut */
        background-color: rgb(243, 238, 238) !important;
    }
    /* Sidebar  utilisateur*/
    .sidebar {
      height: 100vh;
      background-color: #052c47;
      color: white;
      position: fixed;
      width: 230px;
      top: 0;
      left: 0;
      padding-top: 70px; /* espace sous la navbar */
    }
    .sidebar a {
      display: block;
      color: white;
      padding: 12px 20px ;
      text-decoration: none;
    }
    .sidebar a:hover{
      background-color: #20DF7F !important;
      border-radius: 5px !important;
    
    }
    .accordion-header:hover{
      background-color:  #20DF7F !important;
    
    }

    /* Navbar */
    .navbar-custom {
      background-color: white;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1) !important;
      position: fixed !important;
      width: calc(100% - 220px);
      left: 230px;
      top: 0;
      z-index: 1000;
    }

    /* Contenu principal */
    .content {
      margin-left: 250px;
      padding: 20px;
    }
    .carte{
      width: 300px;
      height: 180px;
    }
    .card-stats {
        
            width: 264px !important;
            height: 118px !important;}

    .profile-pic {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    .accordion-button::after {
  filter: invert(1); /* icône flèche blanche */
}

.accordion-button:not(.collapsed) {
  background-color: #0d6efd; 
  color: white;
}

.accordion-body a:hover
 {
  background-color: #20DF7F; /* vert comme ton screenshot */
  border-radius: 4px;
}
.page-link{
  color: white;
}

.titre1{
background-color:#20DF7F; 
}
.icon-dolar{
    color: #20DF7F;
}
.card1{
    max-width: 350px;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      padding: 15px;
      background: #fff;
}
.carte-caisse {
      max-width: 450px;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      padding: 15px;
      background: #fff;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;
    }
    .icone-caisse {
      background: #e8fdf1;
      width: 80px;
      height: 100px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      color: #20DF7F !important;
    }
    .progress {
      height: 8px;
      border-radius: 6px;
    }
    .progress-bar {
      background-color: #20DF7F !important;
    }
    .table1{
      background-color: #20DF7F !important ;
    }
     .pagination {
      margin-top: 10px;
     }
     .card .amount{
    font-size:20px;
    font-weight:700;
    color:#12343b;
  }
  .card .small{
    color:#6a6a6a;
    margin-top:6px;
    font-size: 13px;
  }
     
      @media screen and (max-width: 1024px) {
        .icone-caisse{
           width: 40px;
      height: 60px;
        }
        .fa-sack-dollar {
          font-size: 12px;
        }
        
      }
.list-unstyled li a{
  font-size: 18px;
}
    
 
 .pagination {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.pagination .page-link {
  border: none;
  color: #6c757d; /* gris pour défaut */
  margin: 0 3px;
  border-radius: 50%; /* rond */
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  padding: 0;
  background: white;
  transition: 0.2s;
}

.pagination .page-item.active .page-link {
  background-color: #15cc95; /* vert comme ton image */
  color: white;
  font-weight: bold;
  border: none;
}

.pagination .page-item .page-link:hover {
  background-color: #e9ecef;
  color: #000;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  border-radius: 15px; /* arrondi simple pour prev/next */
  width: auto;
  padding: 5px 10px;
  color: #6c757d;
  background: transparent;
}

.pagination .page-item.disabled .page-link {
  opacity: 0.5;
  cursor: not-allowed;
}

 
 
 
 
 
 
 
 
 
 
 
 
 /* formulaire utilisateur */
    .login-container {
      min-height: 100vh; /* toute la hauteur */
    }
    .login-left {
      background-color: #224957;
      color: #fff;
border-top-right-radius: 15%;   /* arrondi en haut à gauche */
border-bottom-right-radius: 15%;/* arrondi en bas à gauche */
    }
    .login-left img {
      max-width: 100%;
      height: auto;
    }
    .input-form {
      background-color: #224957;
    }
  .input-form::placeholder {
color: #fff ;
  }
    .color-titre1 {
      color: #224957 !important;
    }
    .color-titre2{
    color: #224957 !important;
    font-size: 18px;
  
    }
    .btn-custom {
      background-color: #1dd1a1;
      color: rgb(34, 73, 87);
      font-weight: bold;
      border: none;
    }
    .btn-custom:hover {
      background-color: #20DF7F;
      color: white;
    }
    
    /* Responsive */
    @media (min-width: 768px) {
      .input-form, .btn-custom {
        width: 350px;
        height: 40px;
      }
    }
    @media (max-width: 767px) {
      .input-form, .btn-custom {
        width: 100%;
        height: 45px;
      }
    }